{% set variant = variant|default('dark') %}
{% set content = pattern_configuration('code_block', variant, 'content') %}
{% set frame = pattern_configuration('code_block', variant, 'frame') %}
{% set active_tab = pattern_configuration('code_block', variant, 'active_tab') %}
<div
  class="{{ variant }} border border-gray-300 relative overflow-hidden rounded-xl flex w-full">
  <div class="absolute inset-0 {{ frame }}"></div>
  <div class="relative w-full flex flex-col">
    {% if hide_toolbar == false %}
        <div class="flex-none h-11 flex items-center px-4">
          <div class="flex space-x-1.5">
            <div class="w-3 h-3 border-2 rounded-full border-red-500"></div>
            <div class="w-3 h-3 border-2 rounded-full border-orange-500"></div>
            <div class="w-3 h-3 border-2 rounded-full border-green-500"></div>
          </div>
        </div>
    {% endif %}
      {% set tagName = codes|length == 1 ? 'div' : 'tab-view' %}
      <{{ tagName }} variant="underlined">
      {%- for code_item in codes -%}
          <tab-panel header="{{ code_item.title }}" class="block overflow-scroll" style="max-height: 450px">
              {% if code_item.code is not empty %}
                  <div class="flex text-xs md:text-sm">
                      <div class="keep-markup flex relative block text-white w-full">
                          <snippet {{ create_attribute().setAttribute('code', code_item.code|trim) }}></snippet>
                      </div>
                  </div>
              {% endif %}
              {% if code_item.image_url is not empty %}
                  <img src="{{ file_url('ws-assets://' ~ code_item.image_url) }}" class="w-full">
              {% endif %}
              {% if code_item.content is not empty %}
                  {{ code_item.content }}
              {% endif %}
          </tab-panel>
      {% endfor %}
      </{{ tagName }}>
  </div>
</div>
